.studding-wrapper {
  padding: 52px 0;
  position: relative;
}
.studding-process {
  padding-bottom: 60px;
}
.studding-process_description {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px rgba(92, 46, 145, 0.08),
    10px 10px 40px rgba(92, 46, 145, 0.24);
  @media screen and (min-width: 768px) {
    padding: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 60px;
  }
}
.studding-process_timeline {
    box-shadow: 0px 1px 2px rgba(92, 46, 145, 0.08), 10px 10px 40px rgba(92, 46, 145, 0.24);
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 40px;
    }
}
// .studding-payments {
// }
.studding-payments_currency-tabs-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 52px;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}
.studding-payments_currency-tabs-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 64px;
  border: 1px solid $color-sale-purple;
  border-radius: 8px;
  color: black;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 52px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 230px;
  }
}
.studding-payments_currency-tabs-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 750ms, background-color 750ms;
}
.studding-payments_currency-tabs-btn:hover,
.studding-payments_currency-tabs-btn:focus {
  color: $color-tabs-yellow;
  background-color: $color-sale-purple;
}
.studding-payments_per-month-list {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
  }
  @media screen and (min-width: 1200px) {
    gap: 22px;
    flex-wrap: nowrap;
  }
}
.studding-payments_per-month-item {
  flex-basis: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 28px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 22px) / 5);
  }
}
.studding-payments_quantity-months {
  width: 100%;
  height: 44px;
  background-color: $color-sale-yellow;
  position: relative;
  border-radius: 8px;
  margin-bottom: 8px;
}
.studding-payments_quantity-months:before {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 12px;
  background: $color-sale-yellow;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.studding-payments_box {
  border: 1px solid $color-tabs-yellow;
  border-radius: 12px;
  padding: 24px 56px 34px 24px;
  @media screen and (min-width: 768px) {
    padding: 24px 24px 34px 24px;
  }
}
.studding-payments_discount {
  border-radius: 50%;
  background-color: $color-sale-ashen;
  font-size: 24px;
  margin-bottom: 33px;
}
.studding-payments_new-price {
  font-size: 32px;
  margin-bottom: 8px;
}
.studding-payments_previous-price {
  font-size: 24px;
  text-decoration: line-through;
}
.studding-payments_price-list {
  margin-bottom: 46px;
}
.studding-payments_button-pay {
  display: flex;
  background-color: $color-sale-purple;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-size: 12px;
  max-width: 168px;
  height: 38px;
  border: 1px solid $color-sale-purple;
  position: relative;
  margin-bottom: 52px;
  text-transform: uppercase;
  transition: color 750ms, background-color 750ms, box-shadow 750ms;
}
.studding-payments_button-pay:hover,
.studding-payments_button-pay:focus{
    color:$color-sale-black;
    background-color: transparent;

}
.studding-payments_button-pay::after {
  position: absolute;
  content: "";
  bottom: -20px;
  height: 2px;
  width: 100%;
  background-color: $color-sale-purple;
  // border-bottom: 2px solid $color-sale-purple;
}
.studding-payments_tab-pay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.studding-process_description > p {
  color: black;
  font-size: 16px;
  line-height: 1.45;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.studding-process_description > b {
  color: black;
  font-size: 12px;
  line-height: 1.45;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
}
