<div class="studding-wrapper">
    <section class="studding-process">
    <div class="container-sales container-sales--flex-desk">
        <h2 class="sales-page_title">навчальний процес</h2>
        <div class="studding-process_description">
            <p>Заняття в групах до 12 людей. Комфортна та дружня атмосфера, що сприяє розвитку комунікативних навичок</p>
            <p>Активно працюємо над розвитком не тільки Hard Skills (власне навчання), але й проводимо заняття із Soft Skills – вчимо командної роботи, лідерства, вміння відстоювати своє бачення проєкту та презентувати креативну ідею</p>
            <b>Тривалість уроку – 45-90 хвилин</b>
        </div>
        <div class="studding-process_timeline">
            <ul class="studding-process_list-timeline">
                <li class="studding-process_item-timeline"><h3 lass="studding-process_subtitle">Проектне навчання</h3></li>
                <li class="studding-process_item-timeline"><h3 class="studding-process_subtitle">Розвиток Soft Skills</h3></li>
                <li class="studding-process_item-timeline"><h3 lass="studding-process_subtitle">Розвиток комунікації</h3></li>
                <li class="studding-process_item-timeline"><h3 lass="studding-process_subtitle">Нові друзі за інтересами</h3></li>
                <li class="studding-process_item-timeline"><h3 lass="studding-process_subtitle">Спільні командні проекти
</h3></li>
            </ul>
        </div>
    </div>
    </section>
    <section class="studding-payments">
    <div class="container-sales">
        <h2 class="visually-hidden">Payments Details</h2>
        <ul class="studding-payments_currency-tabs-list">
            <li class="studding-payments_currency-tabs-item"><button class="studding-payments_currency-tabs-btn">USD $</button></li>
            <li class="studding-payments_currency-tabs-item"><button class="studding-payments_currency-tabs-btn">ГРН ₴</button></li>
            <li class="studding-payments_currency-tabs-item"><button class="studding-payments_currency-tabs-btn">EUR €</button></li>
        </ul>
        <ul class="studding-payments_per-month-list">
            <li class="studding-payments_per-month-item">
                <h3 class="studding-payments_quantity-months">1 місяць </h3>
                <div class="studding-payments_box"><span class="studding-payments_discount">-10%</span>
                <ul class="studding-payments_price-list">
                    <li class="studding-payments_new-price"><span >4141</span>
                <span >$</span></li>
                    <li class="studding-payments_previous-price"><span> 4141</span>
                <span >$</span></li>
                </ul>
                
                
                <a href="#" class="studding-payments_button-pay">Оплатити карткою</a>
                <ul class="studding-payments_tabs-list">
                    <li class="studding-payments_tabs-item"><a href="#" class="studding-payments_tab-pay">Apple</a></li>
                    <li class="studding-payments_tabs-item"> <a href="#" class="studding-payments_tab-pay">Google</a></li>
                </ul>
            </div>

            </li>
            <li class="studding-payments_per-month-item">
                <h3 class="studding-payments_quantity-months">3 місяці </h3>
                <div class="studding-payments_box"><span class="studding-payments_discount">-10%</span>
                <ul class="studding-payments_price-list">
                    <li class="studding-payments_new-price"><span >4141</span>
                <span >$</span></li>
                    <li class="studding-payments_previous-price"><span> 4141</span>
                <span >$</span></li>
                </ul>
                <a href="#" class="studding-payments_button-pay">Оплатити карткою</a>
                <ul class="studding-payments_tabs-list">
                    <li class="studding-payments_tabs-item"><a href="#" class="studding-payments_tab-pay">Apple</a></li>
                    <li class="studding-payments_tabs-item"> <a href="#" class="studding-payments_tab-pay">Google</a></li>
                </ul>
            </div>
            
            </li>
          
            <li class="studding-payments_per-month-item">
                <h3 class="studding-payments_quantity-months">6 місяців </h3>
                <div class="studding-payments_box"><span class="studding-payments_discount">-10%</span>
                <ul class="studding-payments_price-list">
                    <li class="studding-payments_new-price"><span >4141</span>
                <span >$</span></li>
                    <li class="studding-payments_previous-price"><span> 4141</span>
                <span >$</span></li>
                </ul>
                <a href="#" class="studding-payments_button-pay">Оплатити карткою</a>
                <ul class="studding-payments_tabs-list">
                    <li class="studding-payments_tabs-item"><a href="#" class="studding-payments_tab-pay">Apple</a></li>
                    <li class="studding-payments_tabs-item"> <a href="#" class="studding-payments_tab-pay">Google</a></li>
                </ul>
            </div>
            
            </li>
            <li class="studding-payments_per-month-item">
                <h3 class="studding-payments_quantity-months">9 місяців</h3>
                <div class="studding-payments_box"><span class="studding-payments_discount">-10%</span>
                <ul class="studding-payments_price-list">
                    <li class="studding-payments_new-price"><span >4141</span>
                <span >$</span></li>
                    <li class="studding-payments_previous-price"><span> 4141</span>
                <span >$</span></li>
                </ul>
                <a href="#" class="studding-payments_button-pay">Оплатити карткою</a>
                <ul class="studding-payments_tabs-list">
                    <li class="studding-payments_tabs-item"><a href="#" class="studding-payments_tab-pay">Apple</a></li>
                    <li class="studding-payments_tabs-item"> <a href="#" class="studding-payments_tab-pay">Google</a></li>
                </ul>
            </div>
            
            </li>
            <li class="studding-payments_per-month-item">
                <h3 class="studding-payments_quantity-months">12 місяців </h3>
                <div class="studding-payments_box"><span class="studding-payments_discount">-10%</span>
                <ul class="studding-payments_price-list">
                    <li class="studding-payments_new-price"><span >4141</span>
                <span >$</span></li>
                    <li class="studding-payments_previous-price"><span> 4141</span>
                <span >$</span></li>
                </ul>
                <a href="#" class="studding-payments_button-pay">Оплатити карткою</a>
                <ul class="studding-payments_tabs-list">
                    <li class="studding-payments_tabs-item"><a href="#" class="studding-payments_tab-pay">Apple</a></li>
                    <li class="studding-payments_tabs-item"> <a href="#" class="studding-payments_tab-pay">Google</a></li>
                </ul>
            </div>
            
            </li>
        </ul>
    </div>
    </section>
   
</div>